*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat' !important;
}
body {
  margin: 0;
  font-family: 'Montserrat';
  overflow-x: hidden;
}
::-webkit-scrollbar{
  appearance: none;
  background-color: none;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: #30252F;
}
/************************************************************************************/
/************************************************************************************/
/********************************* HEADER STYLING ***********************************/
/************************************************************************************/
/************************************************************************************/

.header{
  z-index: 7;
}

.header ul{
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  padding: 0px;
}

.header li{
  margin-right: 40px;
}

.header li a{
  font-weight: 700;
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 0px solid #2c3e50;
  padding-bottom: 0px;
  transition-property: border-bottom,padding-bottom;
  transition-duration: 0.2px;
  transition-timing-function: linear;
}

/************************************************************************************/
/************************************************************************************/
/************************** FOOTER Footer *************************************/
/************************************************************************************/
/************************************************************************************/

.footer{
  background-color: #2C3138;
}

.footer ul{
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}
.footer ul li{
  margin-bottom: 8px;
}
.footer ul li a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.0;
}

.footer li a hr{
  width:0px;
  border-top:2px solid white;
  margin:0px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.footer li a:hover hr{
  width:27px;
}

.header li a:hover{
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 2px solid #2c3e50;
}

/************************************************************************************/
/************************************************************************************/
/************************** MENU DRAWER STYLING *************************************/
/************************************************************************************/
/************************************************************************************/

.menu-drawer ul{
  list-style-type: none;
}
.menu-drawer li{
  margin-bottom: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-radius: 5px;
}
.menu-drawer li a{
  text-decoration: none;
}
.menu-drawer li:hover{
  background-color: rgba(0,0,0,0.05);
  text-decoration: none;
}
.menu-drawer li a:hover{
  text-decoration: none;
}